{
  "openapi": "3.1.0",
  "info": {
    "title": "ORIN AI Workspace API",
    "version": "2026-07-19",
    "description": "Authenticated workspace operations for ORIN AI. Provider credentials and private routing identifiers are never returned."
  },
  "servers": [{ "url": "https://www.orin.work" }],
  "security": [{ "orinApiKey": [] }],
  "paths": {
    "/api/orin/v1/status": {
      "get": {
        "operationId": "getOrinWorkspaceStatus",
        "summary": "Read the API key's workspace, agents, and connected providers",
        "responses": { "200": { "description": "Workspace status" }, "401": { "$ref": "#/components/responses/Unauthorized" }, "403": { "$ref": "#/components/responses/Forbidden" } }
      }
    },
    "/api/orin/v1/inbox": {
      "get": {
        "operationId": "listOrinInbox",
        "summary": "List recent customer conversations",
        "responses": { "200": { "description": "Recent inbox conversations" }, "401": { "$ref": "#/components/responses/Unauthorized" }, "403": { "$ref": "#/components/responses/Forbidden" } }
      }
    },
    "/api/orin/v1/analytics": {
      "get": {
        "operationId": "getOrinAnalytics",
        "summary": "Read advanced workspace analytics",
        "parameters": [
          { "name": "days", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 366, "default": 30 } },
          { "name": "timezoneOffset", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "Current and prior operational analytics" }, "401": { "$ref": "#/components/responses/Unauthorized" }, "403": { "$ref": "#/components/responses/Forbidden" } }
      }
    },
    "/api/orin/v1/campaigns": {
      "get": {
        "operationId": "listOrinCampaigns",
        "summary": "List recent and scheduled publishing campaigns",
        "responses": { "200": { "description": "Publishing campaigns" }, "401": { "$ref": "#/components/responses/Unauthorized" }, "403": { "$ref": "#/components/responses/Forbidden" } }
      }
    },
    "/api/orin/v1/logs": {
      "get": {
        "operationId": "listOrinLogs",
        "summary": "List sanitized workspace operations events",
        "description": "Returns provider, model, token, cost-estimate, latency, delivery, handoff, and CRM metadata without message bodies, credentials, or raw provider errors.",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 50 } }
        ],
        "responses": { "200": { "description": "Sanitized application events" }, "401": { "$ref": "#/components/responses/Unauthorized" }, "403": { "$ref": "#/components/responses/Forbidden" } }
      }
    },
    "/api/orin/v1/schema": {
      "get": {
        "operationId": "describeOrinControlPlane",
        "summary": "Describe ORIN workspace resources, writable boundaries, and external actions",
        "responses": { "200": { "description": "Control-plane manifest" }, "401": { "$ref": "#/components/responses/Unauthorized" }, "403": { "$ref": "#/components/responses/Forbidden" } }
      }
    },
    "/api/orin/v1/resource": {
      "get": {
        "operationId": "getOrinResource",
        "summary": "Read a sanitized workspace resource or one resource item",
        "parameters": [
          { "name": "resource", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "id", "in": "query", "schema": { "type": "string" } },
          { "name": "parentId", "in": "query", "description": "Conversation ID for messages/notes or agent ID for knowledgeSources.", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 100 } }
        ],
        "responses": { "200": { "description": "Sanitized resource result" }, "401": { "$ref": "#/components/responses/Unauthorized" }, "403": { "$ref": "#/components/responses/Forbidden" } }
      }
    },
    "/api/orin/v1/plan": {
      "post": {
        "operationId": "planOrinChanges",
        "summary": "Validate and preview an atomic workspace change set",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ControlChangeSet" } } } },
        "responses": { "200": { "description": "Validated plan with create, update, and delete counts" }, "400": { "$ref": "#/components/responses/BadRequest" }, "401": { "$ref": "#/components/responses/Unauthorized" }, "403": { "$ref": "#/components/responses/Forbidden" } }
      }
    },
    "/api/orin/v1/apply": {
      "post": {
        "operationId": "applyOrinChanges",
        "summary": "Atomically apply an idempotent workspace change set and write audit events",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ControlChangeSet", "required": ["requestId", "operations"] } } } },
        "responses": { "200": { "description": "Applied or duplicate-safe change result" }, "400": { "$ref": "#/components/responses/BadRequest" }, "401": { "$ref": "#/components/responses/Unauthorized" }, "403": { "$ref": "#/components/responses/Forbidden" }, "409": { "description": "Resource changed after planning" } }
      }
    },
    "/api/analytics/summary": {
      "get": {
        "security": [{ "firebaseBearer": [] }],
        "operationId": "getWorkspaceAnalytics",
        "summary": "Read workspace analytics",
        "parameters": [
          { "$ref": "#/components/parameters/workspaceIdQuery" },
          { "name": "days", "in": "query", "required": true, "schema": { "type": "integer", "enum": [7, 30, 90] } },
          { "name": "timezoneOffsetMinutes", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Current and prior period analytics with data-availability flags", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/social/publish": {
      "post": {
        "operationId": "publishSocialCampaign",
        "summary": "Publish or schedule a social campaign",
        "security": [{ "orinApiKey": [] }, { "firebaseBearer": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SocialPublishRequest" } } } },
        "responses": {
          "200": { "description": "Idempotent campaign result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SocialResult" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/social/cancel": {
      "post": {
        "security": [{ "orinApiKey": [] }, { "firebaseBearer": [] }],
        "operationId": "cancelSocialCampaign",
        "summary": "Cancel a pending social campaign",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PostActionRequest" } } } },
        "responses": { "200": { "description": "Campaign cancelled" }, "400": { "$ref": "#/components/responses/BadRequest" } }
      }
    },
    "/api/social/retry": {
      "post": {
        "security": [{ "orinApiKey": [] }, { "firebaseBearer": [] }],
        "operationId": "retrySocialCampaign",
        "summary": "Retry failed social deliveries",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PostActionRequest" } } } },
        "responses": { "200": { "description": "Retry outcome" }, "400": { "$ref": "#/components/responses/BadRequest" } }
      }
    },
    "/api/widget/message": {
      "post": {
        "security": [{ "orinApiKey": [] }, { "firebaseBearer": [] }],
        "operationId": "manageConversation",
        "summary": "Reply, resume AI, mark read, or update CRM state",
        "description": "Authenticated workspace modes accept a scoped ORIN developer key or Firebase bearer token. Public widget message mode uses a signed widget session instead.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["mode"], "properties": { "mode": { "type": "string", "enum": ["team_reply", "mark_read", "resume_ai", "crm_update", "team_access"] }, "workspaceId": { "type": "string" }, "conversationId": { "type": "string" }, "requestId": { "type": "string" }, "message": { "type": "string", "maxLength": 1000 }, "action": { "type": "string" } }, "additionalProperties": true } } } },
        "responses": { "200": { "description": "Operation result" }, "400": { "$ref": "#/components/responses/BadRequest" }, "401": { "$ref": "#/components/responses/Unauthorized" }, "403": { "$ref": "#/components/responses/Forbidden" } }
      }
    },
    "/api/agents/ai": {
      "post": {
        "security": [{ "orinApiKey": [] }, { "firebaseBearer": [] }],
        "operationId": "manageOrinAgentServices",
        "summary": "Test agents and manage knowledge or write-only AI-provider credentials",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } },
        "responses": { "200": { "description": "Agent service result" }, "400": { "$ref": "#/components/responses/BadRequest" }, "401": { "$ref": "#/components/responses/Unauthorized" }, "403": { "$ref": "#/components/responses/Forbidden" } }
      }
    },
    "/api/commerce/{action}": {
      "post": {
        "security": [{ "orinApiKey": [] }, { "firebaseBearer": [] }],
        "operationId": "manageOrinCommerce",
        "summary": "Manage catalog items, PayMongo connection state, and approved payment operations",
        "parameters": [{ "name": "action", "in": "path", "required": true, "schema": { "type": "string", "enum": ["connect", "disconnect", "item_upsert", "item_delete", "mark_paid"] } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } },
        "responses": { "200": { "description": "Commerce operation result" }, "400": { "$ref": "#/components/responses/BadRequest" }, "401": { "$ref": "#/components/responses/Unauthorized" }, "403": { "$ref": "#/components/responses/Forbidden" } }
      }
    },
    "/api/communications/{action}": {
      "post": {
        "security": [{ "orinApiKey": [] }, { "firebaseBearer": [] }],
        "operationId": "manageOrinCommunications",
        "summary": "Manage write-only SMS/voice credentials or send an approved SMS",
        "parameters": [{ "name": "action", "in": "path", "required": true, "schema": { "type": "string", "enum": ["connect", "disconnect", "send_sms"] } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } },
        "responses": { "200": { "description": "Communications operation result" }, "400": { "$ref": "#/components/responses/BadRequest" }, "401": { "$ref": "#/components/responses/Unauthorized" }, "403": { "$ref": "#/components/responses/Forbidden" } }
      }
    },
    "/api/integrations/capabilities": {
      "get": {
        "security": [{ "firebaseBearer": [] }],
        "operationId": "getIntegrationCapabilities",
        "summary": "Read non-secret provider readiness",
        "parameters": [{ "$ref": "#/components/parameters/workspaceIdQuery" }],
        "responses": { "200": { "description": "Provider readiness flags" }, "401": { "$ref": "#/components/responses/Unauthorized" } }
      }
    },
    "/api/integrations/vault/health": {
      "get": {
        "security": [{ "firebaseBearer": [] }],
        "operationId": "getConnectorVaultHealth",
        "summary": "Verify encrypted connector storage readiness",
        "parameters": [{ "$ref": "#/components/parameters/workspaceIdQuery" }],
        "responses": { "200": { "description": "Readiness only; no secrets" }, "401": { "$ref": "#/components/responses/Unauthorized" } }
      }
    },
    "/api/integrations/n8n/connect": {
      "post": {
        "security": [{ "firebaseBearer": [] }],
        "operationId": "connectN8nCloud",
        "summary": "Verify and connect an n8n Cloud production webhook",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["workspaceId", "webhookUrl", "displayName", "desiredChannels"], "properties": { "workspaceId": { "type": "string" }, "webhookUrl": { "type": "string", "format": "uri", "pattern": "^https://[^/]+\\.n8n\\.cloud/webhook/" }, "displayName": { "type": "string" }, "desiredChannels": { "type": "array", "minItems": 1, "items": { "type": "string" } } } } } } },
        "responses": { "200": { "description": "Verified connection metadata without secrets" }, "400": { "$ref": "#/components/responses/BadRequest" }, "401": { "$ref": "#/components/responses/Unauthorized" } }
      },
      "delete": {
        "security": [{ "firebaseBearer": [] }],
        "operationId": "disconnectN8nCloud",
        "summary": "Disconnect n8n Cloud",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["workspaceId"], "properties": { "workspaceId": { "type": "string" } } } } } },
        "responses": { "200": { "description": "Connection and encrypted vault entry removed" }, "403": { "$ref": "#/components/responses/Forbidden" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "orinApiKey": { "type": "http", "scheme": "bearer", "bearerFormat": "ORIN API key" },
      "firebaseBearer": { "type": "http", "scheme": "bearer", "bearerFormat": "Firebase ID token" }
    },
    "parameters": {
      "workspaceIdQuery": { "name": "workspaceId", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1 } }
    },
    "schemas": {
      "ControlOperation": {
        "type": "object",
        "required": ["resource", "action"],
        "properties": {
          "resource": { "type": "string", "enum": ["workspace", "agents", "contacts", "automations", "tasks", "catalogItems"] },
          "action": { "type": "string", "enum": ["upsert", "update", "delete"] },
          "id": { "type": "string", "pattern": "^[A-Za-z0-9_-]{1,200}$" },
          "data": { "type": "object", "additionalProperties": true }
        },
        "additionalProperties": false
      },
      "ControlChangeSet": {
        "type": "object",
        "required": ["operations"],
        "properties": {
          "requestId": { "type": "string", "minLength": 12, "maxLength": 128 },
          "operations": { "type": "array", "minItems": 1, "maxItems": 20, "items": { "$ref": "#/components/schemas/ControlOperation" } }
        },
        "additionalProperties": false
      },
      "SocialTarget": {
        "type": "object",
        "required": ["provider"],
        "properties": {
          "provider": { "type": "string", "enum": ["facebook", "instagram", "tiktok", "youtube", "linkedin", "threads", "pinterest", "x", "google_business", "reddit", "bluesky", "mastodon", "telegram"] },
          "variant": { "type": "string" }
        }
      },
      "SocialPublishRequest": {
        "type": "object",
        "required": ["requestId", "targets"],
        "properties": {
          "workspaceId": { "type": "string" },
          "requestId": { "type": "string", "minLength": 8 },
          "text": { "type": "string", "maxLength": 10000 },
          "mediaUrl": { "type": "string", "format": "uri" },
          "scheduledAt": { "type": "string", "format": "date-time" },
          "recurrence": { "type": "string", "enum": ["none", "daily", "weekdays", "weekly", "monthly"], "default": "none" },
          "maxRuns": { "type": "integer", "minimum": 1, "maximum": 365, "default": 1 },
          "targets": { "type": "array", "minItems": 1, "items": { "$ref": "#/components/schemas/SocialTarget" } }
        }
      },
      "PostActionRequest": {
        "type": "object",
        "required": ["workspaceId", "postId"],
        "properties": { "workspaceId": { "type": "string" }, "postId": { "type": "string" } }
      },
      "SocialResult": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" },
          "postId": { "type": "string" },
          "status": { "type": "string" },
          "deliveries": { "type": "array", "items": { "type": "object", "properties": { "provider": { "type": "string" }, "status": { "type": "string" } } } }
        }
      }
    },
    "responses": {
      "BadRequest": { "description": "Invalid or unavailable operation" },
      "Unauthorized": { "description": "Missing or invalid Firebase identity" },
      "Forbidden": { "description": "Workspace membership or role does not allow the operation" }
    }
  }
}
